:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --slate: #434455;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --white: #ffffff;

    --font-primary: 'Roboto', sans-serif;
    --font-logo: 'Raleway', sans-serif;
}

body {
    color: var(--slate);
    font-family: var(--font-primary);
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--white);
}

/* HERO */
.hero {
    background-color: var(--navy-blue);
    text-align: center;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    color: var(--white);
}

.hero-btn {
    background-color: var(--iris);
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--ocean);
}

/* FEATURES */
.features {}

.features-list {
    list-style: none;

}

.features-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--navy-blue);
}

.features-text {
    color: var(--slate);
}

/* TEAM */
.team {
    background-color: var(--cloud);
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    color: var(--navy-blue);

}

.team-list {
    list-style: none;

}

.team-item {
    background-color: var(--white);

}

.team-name {
    font-size: 20px;
    line-height: 1.2;
    color: var(--navy-blue);
}

.team-role {
    font-size: 16px;
    line-height: 1.5;
    color: var(--slate);
}

/* PORTFOLIO */
.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    color: var(--navy-blue);
}

.portfolio-list {
    list-style: none;
}

.portfolio-item {
    border: 1px solid var(--cornflower);
    background-color: var(--white);
}

.portfolio-name {
    font-size: 20px;
    line-height: 1.2;
    color: var(--navy-blue);
}

.portfolio-type {
    font-size: 16px;
    line-height: 1.5;
    color: var(--slate);
}

/* FOOTER */
.footer {
    background-color: var(--navy-blue);
}

.footer .logo {
    color: var(--iris);
}

.footer .logo-accent {
    color: var(--cloud);
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    color: var(--cloud);
}