:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --slate: #434455;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --white: #ffffff;

    --font-primary: "Roboto", sans-serif;
    --font-logo: "Raleway", sans-serif;
}

/* ================== BODY ================== */
body {
    color: var(--slate);
    font-family: var(--font-primary);
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--white);
}

/* LOGO */
.header-logo {
    font-family: var(--font-logo);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    text-decoration: none;
}

.header-logo-accent {
    color: var(--navy-blue);
}

/* NAVIGATION */
.nav-list {
    list-style: none;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--ocean);
}

/* ADDRESS */
.header-address {
    font-style: normal;
}

.address-list {
    list-style: none;
}

.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.address-link:hover,
.address-link:focus {
    color: var(--ocean);
}

/* ================== HERO SECTION ================== */

/* HERO SECTION */
.hero {
    background-color: #2e2f42;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.hero-btn {
    background-color: #4d5ae5;
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}

/* ================== SECTION TITLES ================== */

.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);
}


/* FEATURES SECTION */

.features-list {
    list-style: none;
}

.features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.features-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ================== TEAM (3a) ================== */
/* TEAM SECTION */

.team {
    background-color: var(--cloud);
}

.team-list {
    list-style: none;
}

.team-item {
    background-color: var(--white);
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-role {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ================== PORTFOLIO (4a) ================== */

/* PORTFOLIO SECTION */

.portfolio-list {
    list-style: none;
}

.portfolio-item {
    background-color: var(--white);
    border: 1px solid var(--cornflower);
}

.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-type {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ================== FOOTER ================== */

/* ================== FOOTER ================== */

.footer {
    background-color: var(--navy-blue);
    /* #2e2f42 */
}

.footer-logo {
    font-family: var(--font-logo);
    /* Raleway */
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    /* #4d5ae5 */
}

.footer-logo-accent {
    color: var(--cloud);
    /* #f4f4fd */
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
}