:root {
    /* Primary brand colors */
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --slate: #434455;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --white: #ffffff;

    /* Fonts */
    --font-primary: 'Roboto', sans-serif;
    --font-logo: 'Raleway', sans-serif;
}

body {
    color: var(--slate, #434455);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.32px;
}
.hero {
    background-color: var(--navy-blue);
    padding: 188px 0;
    text-align: center;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto 48px;
    color: var(--white);
}

.hero-btn {
    background-color: var(--iris);
    color: var(--white);
    padding: 16px 32px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--ocean);
}

/* features */

.features {
    padding: 120px 0;
}

.features-list {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    gap: 24px;
}

.features-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--navy-blue);
    margin-bottom: 8px;
}

.features-text {
    color: var(--slate);
}
/* team */
.team {
    background-color: var(--cloud);
    padding: 120px 0;
}
.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: var(--navy-blue);
    margin-bottom: 72px;
}
.team-list {
    display: flex;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.team-item {
    background-color: var(--white);
    border-radius: 4px;
    text-align: center;
    padding-bottom: 32px;
}
.team-item {
    background-color: var(--white);
    border-radius: 4px;
    text-align: center;
    padding-bottom: 32px;
}

.team-role {
    font-size: 16px;
    line-height: 1.5;
    color: var(--slate);
}

.portfolio {
    padding: 120px 0;
}

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: var(--navy-blue);
    margin-bottom: 72px;
}

.portfolio-list {
    list-style: none;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    /* 3 colonne */
    border: 1px solid var(--cornflower);
    background-color: var(--white);
}

.portfolio-name {
    font-size: 20px;
    line-height: 1.2;
    color: var(--navy-blue);
    margin: 32px 16px 8px;
}

.portfolio-type {
    font-size: 16px;
    line-height: 1.5;
    color: var(--slate);
    margin: 0 16px 32px;
}

.portfolio-item:hover,
.portfolio-item:focus {
    border-color: var(--iris);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* footer */
.footer {
    background-color: var(--navy-blue);
    padding: 100px 0;
}
.footer-container {
    width: 264px;
}
.footer .logo {
    color: var(--iris);
    display: inline-block;
    margin-bottom: 16px;
}

.footer .logo-accent {
    color: var(--cloud);
}
.footer-text {
    font-size: 16px;
    line-height: 1.5;
    color: var(--cloud);
    max-width: 264px;
    /* identico al layout */
}